HRDLogBookMaps/Service References/HRDLogGrids/HRDLogBookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HRDLogBookService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HRDLogBookService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfGridReached">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GridReached" nillable="true" type="tns:GridReached" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGridReached" nillable="true" type="tns:ArrayOfGridReached" />
  <xs:complexType name="GridReached">
    <xs:sequence>
      <xs:element minOccurs="0" name="Band" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Callsign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:decimal" />
      <xs:element minOccurs="0" name="GridSquare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MH2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Entity.Spatial" minOccurs="0" name="Shape" nillable="true" type="q1:DbGeometry" />
      <xs:element minOccurs="0" name="syncid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GridReached" nillable="true" type="tns:GridReached" />
</xs:schema>